.hero-section {
  height: 85vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../images/bg-image.avif) center/cover no-repeat;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-content {
  max-width: 700px;
  color: #fff;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.hero-subtitle {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #e9b44c;
  margin-bottom: 20px;
}
.hero-content h1 {
  font-size: 52px;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #fbf6ef;
}
.hero-content p {
  width: 490px;
  font-size: 17px;
  line-height: 1.8;
  color: #f0e9dd;
  margin-bottom: 30px;
}
.hero-btn {
  display: inline-block;
  background: #e9b44c;
  color: #2e2622;
  padding: 14px 34px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 700;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #b98932;
  color: #fff;
}
