/* Opening Hours Section */
.hours-section {
  padding: 80px 0;
  background-color: #f8f3ec;
}
.hours-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* Opening Hours Title */
.hours-title-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.hours-title-container h6 {
  color: #e9b44c;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hours-title {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  color: #2e2622;
}

/* Hours Table */
.hours-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hours-table {
  width: 700px;
  border-collapse: collapse;
}
.hours-table th,
.hours-table td {
  border: 2px solid #2e2622;
  padding: 18px;
  text-align: center;
  cursor: pointer;
}
.hours-table thead {
  background-color: #2e2622;
  color: #e9b44c;
}
.hours-table tbody tr:hover {
  background-color: #4d382d;
  color: #ffffff;
}
